.container {
    max-width: 82%;
}

.mainTabBG{
  background-color: #ECE8E4;
}

.btn-fill{
  display: block;
  width: 100%;
  height: 100%;
}

.pulseModeBox{
  font-weight: bold;
  border-radius: 3px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.progress-bar {
  background-color: #f3f3f3;
  border-radius: 5px;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset; */

  width: 100%;
  height: 20px;

  position: relative;
  /* display: block; */
}

.progress-bar > span {
  background-color: blue;
  border-radius: 2px;

  display: block;
  text-indent: -9999px;
}

.PosColor{
  color: red;
}

.SparkTab {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border: 2px solid grey;
}

.SparkTabQuadLabel {
  width: 8.33%;
  font-weight: bold;
  background-color: salmon;
  border: 2px solid grey;
}

.SparkTabFiller {
  background-color: white;
  border: 2px solid grey;
  width: 8.33%;
}

.SparkTabNoSpark {
  background-color: green;
  border: 2px solid grey;
  width: 8.33%;
}
.SparkTabSparked {
  background-color: orange;
  border: 2px solid grey;
  width: 8.33%;
}

td input {
  width: 100%;
  float: right;
  /* box-sizing: border-box; */
}

.blockTitle{
  color: #4FD2CD;
  padding-top: 5px;
}

.tabBG1{
  background-color: #E9E5E1;
}
.tabBG2{
  background-color: #E7E5E1;
}
