doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Nam Tran')
    link(rel='icon', href='/favicon.ico')

    title ESQ Slow Control Interface

    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/bootstrap-table.min.css")
    link(rel="stylesheet", href="stylesheets/jquery.jgrowl.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")

  body
    .container
      br
      header
        h3.float-left ESQ Slow Control
      #clock.float-right(style='color: red;')
      a(href='https://cdcvs.fnal.gov/redmine/projects/g-2/wiki/Quad_GUI_manual_for_shifters') Manual for shifters
    ul.nav.nav-tabs.container
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#mainTab', role='tab') Main Control
      li.nav-item
        a.nav-link(data-toggle='tab', href='#pulserTab', role='tab') Pulser Status
      li.nav-item
        a.nav-link(data-toggle='tab', href='#sparkHistory', role='tab') Spark History
      li.nav-item
        a.nav-link(data-toggle='tab', href='#faultHistory', role='tab') Fault History
      li.nav-item
        a.nav-link(data-toggle='tab', href='#timingTab', role='tab') Pulser Timing

    .tab-content
      include mainTab.pug
      include pulserTab.pug
      include sparkHistory.pug
      include faultHistory.pug
      include timingTab.pug

    //- script sequence is important
    script(src='javascripts/jquery-3.3.1.min.js')
    script(src='javascripts/jquery.jgrowl.min.js')
    script(src='javascripts/popper.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/bootstrap-table.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/plotly-latest.min.js')
    script(src='javascripts/moment.js')

    script(src='javascripts/pulseMode.js')
    script(src='javascripts/quadControl.js')
    script(src='javascripts/cv.js')
    script(src='javascripts/pulserStatus.js')
    script(src='javascripts/voltageSettings.js')
    script(src='javascripts/setpointLogic.js')
    script(src='javascripts/sparkInfo.js')
    script(src='javascripts/timing.js')

    script(src='javascripts/segment-display.js')
