// First tab
#mainTab.tab-pane.fade.in.show.active.container.mainTabBG(role='tabpanel')
  .row.border.border-secondary
    .col-6
      include components/pulsingControl
      hr
      include components/sparkControl
    .col-6
      include components/sparkTable
  .row.border.border-normal
    include components/voltageSettings
  .row.border.border-warning
    .col-6
      #container(style='width:100%;')
        #bcLastCV(style='width:100%;')
    .col-6
      #container(style='width: 100%;')
        #lcCVTrend(style='width:100%;')

