// First tab
#mainTab.tab-pane.fade.in.show.active.container.mainTabBG(role='tabpanel')
  .row
    .col-6
      include components/pulsingControl
    .col-6
      include components/voltageSettings
  .row.mb-4.mt-4
    .col-6
      #container(style='width:100%;height:350px;')
        #bcLastCV(style='width:100%;height:100%;')
    .col-6
      #container(style='width: 100%;height:350px;')
        #lcCVTrend(style='width:100%;height:100%;')
  .row.mt-4
    .col-5
      include components/sparkControl
    .col-7
      include components/sparkTable

