// First tab
#mainTab.tab-pane.fade.in.show.active.container.mainTabBG(role='tabpanel')
  .row
    .col-6
      .container-fluid.bg-light
        include components/pulsingControl
      include components/sparkControl
      include components/sparkTable
    .col-6
      include components/voltageSettings
      include components/lastVoltageTable

  .row
    #container(style='width: 100%;height:350px;')
      #lcCVTrend(style='width:100%;height:100%;')

audio#sparkAlarmAudio
  source(src='sparkAlarm.wav', type='audio/wav')
  |   Your browser does not support the audio element.

audio#faultAlarmAudio
  source(src='faultAlarm.wav', type='audio/wav')
  |   Your browser does not support the audio element.
