#rfTab.tab-pane.container.fade(role='tabpanel')
  #container(style='width:100%;')
    .row.mb-1.mt-1
      .col-3
        button#btnTest1.btn.btn-block.btn-warning(title="Test Btn 1") Test Btn Name 1
      .col-3
        button#btnTest2.btn.btn-block.btn-warning(title="Test Btn 2") Test Btn Name 2
      .col-3
        button#btnTest3.btn.btn-block.btn-success(title="Test Btn 3") Test Btn Name 3
      .col