#sparkHistory.tab-pane.container.fade(role='tabpanel')
  #container(style='width:100%;')
    .row.mt-4
      .col-4
      .col-4
        button#btnRefreshSparkHistory.btn.btn-success Refresh Table
      .col-4
    .row.mt-4
      .table-responsive
        table.table.table-sm.table-hover.table-striped.table-bordered#sparkHistoryTable
          - const quadNums = ["Q1", "Q2", "Q3", "Q4"];
          - const quadLengths = ["L", "S"];
          - const quadPlates = ["T", "B", "I", "O"];
          thead
            tr
              th(rowspan='3',width='12%') Timestamp
              each q in quadNums
                th(colspan='8',width='22%')= q
            tr
              each q in quadNums
                each ql in quadLengths
                  td(colspan='4',width='11%')= ql
            tr
              each qn in quadNums
                each ql in quadLengths
                  each qp in quadPlates
                    td(width='2.75%')= qp
          tbody#sparkHistoryTableBody
