#sparkHistory.tab-pane.container.fade(role='tabpanel')
  #container(style='width:100%;')
    h4.center Last 300 sparks
    button#btnRefreshSparkHistory.btn.btn-block.btn-success Refresh Table
    .table-responsive
      table.table.table-hover.table-bordered#sparkHistoryTable
        tr
          th(width='15%') Timestamp
          th(width='80%') Spark pattern
          th(width='5%') Spark bit

