#testTab.tab-pane.container.fade(role='tabpanel')
  #container(style='width:100%;')
    .row.mb-1.mt-1
      .col-3
        button#btnTestSparkAlarm.btn.btn-block.btn-warning(title="Test spark alarm sound") Test Spark Alarm
      .col-3
        button#btnTestFaultAlarm.btn.btn-block.btn-warning(title="Test fault alarm sound") Test Fault Alarm
      .col-3
        button#btnTestStopAlarm.btn.btn-block.btn-success(title="Stop alarm") Stop Alarm
