#timingTab.tab-pane.container.fade(role='tabpanel')
  #container(style='width:100%;')
    div(stdpulsertable='')
      table(style='undefined;table-layout: fixed; width: 80%')
        colgroup
          col(style='width: 10%')
          col(style='width: 10%')
          col(style='width: 10%')
          col(style='width: 10%')
          col(style='width: 10%')
          col(style='width: 10%')
          col(style='width: 10%')
          col(style='width: 10%')
          col(style='width: 10%')
        tbody
          tr
            th
            th(colspan='2')
              br
              | Pulser 1
              br
              | (POS)
              br
            th(colspan='2')
              br
              | Pulser 2
              br
              | (NOS)
              br
            th(colspan='2')
              br
              | Pulser 3
              br
              | (PTS)
              br
            th(colspan='2')
              br
              | Pulser 4
              br
              | (NTS)
              br
          tr
            td
            td Active
            td Set
            td Active
            td
              | Set
              br
            td Active
            td Set
            td Active
            td Set
          tr
            td
              | 2-step Pulser?
              br
            td
              | False
              br
            td
            td
              | False
              br
            td
            td True
            td
            td True
            td
          tr
            td Charge start
            td
            td
            td
            td
            td
            td
            td
            td
          tr
            td Step 1 end
            td N/A
            td
            td N/A
            td
            td
            td
            td
            td
          tr
            td Step 2 start
            td
              | N/A
              br
            td
            td N/A
            td
            td
            td
            td
            td
          tr
            td Charge stop
            td
            td
            td
            td
            td
            td
            td
            td
          tr
            td Discharge start
            td
            td
            td
            td
            td
            td
            td
            td
          tr
            td Discharge end
            td
            td
            td
            td
            td
            td
            td
            td

