doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel='icon', href='public/images/favicon.ico?v=3')
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='node_modules/select2/dist/css/select2.min.css')
    link(rel='stylesheet', href='public/css/style.css')
    script(src='node_modules/jquery/dist/jquery.js')
    script(src='node_modules/popper.js/dist/umd/popper.js')
    script(src='node_modules/bootstrap/dist/js/bootstrap.js')
    script(src='node_modules/highcharts/highcharts.js')
    script(src='node_modules/select2/dist/js/select2.min.js')
    script(src='public/scripts/utils.js')
    title ESQ Slow Control
  body
    .container
      br
      header
        h3.float-left ESQ Slow Control
      #clock.float-right(style='color: red;')
    // </nav>
    ul.nav.nav-tabs.container
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#mainTab', role='tab') Main Control
      li.nav-item
        a.nav-link(data-toggle='tab', href='#pulserTab', role='tab') Pulser Status
      li.nav-item
        a.nav-link(data-toggle='tab', href='#logTab', role='tab') Log Messages
      li.nav-item
        a.nav-link(data-toggle='tab', href='#timingTab', role='tab') Pulse Timing
      // <li class="nav-item">
      // </li>
    .tab-content
      // First tab
      #mainTab.tab-pane.fade.in.show.active.container.mainTabBG(role='tabpanel')
        // First row: spark and pulsing
        .row
          // Spark group
          .col-sm.border.border-secondary
            .row.mb-2
              .col
                h5 Spark
              .col
                input#radCamacMaster(name='camacMode', value='master', checked='', type='radio')
                label(for='radCamacMaster') Master
              .col
                input#radCamacSlave(name='camacMode', value='slave', type='radio')
                label(for='radCamacSlave') Slave
            .row.mb-2
              .col-4
                button#btnReadThreshold.btn.btn-block.btn-info  Read Threshold
              .col-4
                | Slot 3: 
                strong#slot3Th 800 mV
                br
                |                 Slot 6: 
                strong#slot6Th 800 mV
              .col-4  Last Spark: 
            .row.mb-2
              .col-4
                button#btnSetThreshold.btn.btn-block.btn-info Set Threshold
              .col-4
                input#iThresholdSet.form-control(name='sparkThreshold', placeholder='800 mV', min='20', max='1023', step='10.', type='number')
              .col-4
                | #Sparks: 
                big#nSparks(style='color: green;') 0
            .row.mb-1
              .col-4
                button#btnSparkCountReset.btn.btn-block.btn-warning Reset Count
              .col-4
                button#btnSparkAlarmReset.btn.btn-block.btn-success Reset Alarm
              .col-4
                button#btnClearSparkDiplay.btn.btn-block.btn-warning Clear Display
          // Pulsing group
          .col-sm.border.border-secondary
            h5.mb-4 Pulsing Control
            .row.mb-2.mt-2
              .col-2
                button#btnStop.btn.btn-fill.btn-danger Stop
              .col-8
                .row.mb-3
                  .col-4
                    button#btn1Hz.btn.btn-block.btn-info 1 Hz
                  .col-4
                    button#btn2Hz.btn.btn-block.btn-info 2 Hz
                  .col-4
                    button#btnBurst.btn.btn-block.btn-primary Burst
                .row
                  .col-4
                    button#btn5Hz.btn.btn-block.btn-info(type='button') 5 Hz
                  .col-4
                    button#btn12Hz.btn.btn-block.btn-info 12 Hz
                  .col-4
                    button#btnExternal.btn.btn-block.btn-success External
              .col-2
                .text-center.alert-fill
                  | State:
                  br
                  label#lblPulsingState External
        // Second row
        .row.alterTabBG
          .col-sm.border.border-secondary
            h5 Spark pattern
            table#sparkTable.SparkTab
              tbody
                tr
                  td.SparkTabFiller
                  td#q1sT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q2sT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q3sT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q4sT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                tr
                  td#q1sO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q1S
                  td#q1sI.SparkTabNoSpark I: 0
                  td#q2sO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q2S
                  td#q2sI.SparkTabNoSpark I: 0
                  td#q3sO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q3S
                  td#q3sI.SparkTabNoSpark I: 0
                  td#q4sO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q4S
                  td#q4sI.SparkTabNoSpark I: 0
                tr
                  td.SparkTabFiller
                  td#q1sB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q2sB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q3sB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q4sB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
                tr
                  td.SparkTabFiller
                  td#q1lT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q2lT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q3lT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q4lT.SparkTabNoSpark T: 0
                  td.SparkTabFiller
                tr
                  td#q1lO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q1L
                  td#q1lI.SparkTabNoSpark I: 0
                  td#q2lO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q2L
                  td#q2lI.SparkTabNoSpark I: 0
                  td#q3lO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q3L
                  td#q3lI.SparkTabNoSpark I: 0
                  td#q4lO.SparkTabNoSpark O: 0
                  td.SparkTabQuadLabel Q4L
                  td#q4lI.SparkTabNoSpark I: 0
                tr
                  td.SparkTabFiller
                  td#q1lB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q2lB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q3lB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
                  td.SparkTabFiller
                  td#q4lB.SparkTabNoSpark B: 0
                  td.SparkTabFiller
          .col-sm.border.border-secondary
            h5 Voltage Settings
            .row
              .col-5.bg-light.border.border-warning
                input#vModeManual(value='vManual', name='vMode', type='radio')
                label(for='vModeManual') Manual
                .form-group.row
                  label.col-7.mb-1(for='manualVFS')  First Step
                  input#manualVFS.form-control.col-4.mb-1(onchange='reflectVManual()', value='', name='', step='0.1', min='0.0', max='24.0', type='number')
                  label.col-7.mb-1(for='manualVSS')  Second Step
                  input#manualVSS.form-control.col-4.mb-1(value='', name='', step='0.1', onchange='lockFlattop()', min='0.0', max='27.0', type='number')
                  label.col-7.mb-1(for='manualVOS')  One Step
                  input#manualVOS.form-control.col-4.mb-1(value='', name='', step='0.1', onchange='lockFlattop()', min='0.0', max='27.0', type='number')
                  input#cbForceAsym.col-2(onclick='checkFlattopLock()', value='', name='', type='checkbox')
                  label.col-10(for='cbForceAsym') Force Asymmetric Voltages
              .col-5.bg-light.border.border-warning
                input#vModePreset(value='vPreset', name='vMode', checked='', type='radio')
                label(for='vModePreset') Preset
                .form-group.row
                  label.col-6.mb-1(for='vPreset') Set point
                  select#vSetpoint.form-control.mb-1.col-5.combobox(name='vSetpoint', onchange='reflectVPreset()')
                    option(value='0.0, 0.0') 0.0, 0.0
                    option(value='0.8, 1.6') 0.8, 1.6 
                    option(value='4.0, 5.0') 4.0, 5.0 
                    option(value='4.0, 7.0') 4.0, 7.0 
                    option(value='7.0, 10.0') 7.0, 10.0 
                    option(value='10.0, 13.0') 10.0, 13.0
                    option(value='10.7, 15.0') 10.7, 15.0
                    option(value='12.0, 15.0') 12.0, 15.0
                    option(value='12.6, 17.6') 12.6, 17.6
                    option(value='14.4, 20.2') 14.4, 20.2
                    option(value='16.0, 23.0') 16.0, 23.0
                  label.col-6.mb-1(for='vStep') Step
                  input#vStep.col-5.mb-1(name='vStep', value='1.0', step='0.1', min='0.01', max='1.1', type='number')
                  label.col-6.mb-1(for='vInterval') Interval [s]
                  input#vInterval.col-5.mb-1(min='10', step='5', name='vInterval', value='30', type='number')
              .col-2
                button#p1kV.btn.btn-block.btn-sm.bg-info(type='submit') + 1 kV
                button#m1kV.btn.btn-block.btn-sm.bg-info(type='submit') - 1 kV
                button#m2kV.btn.btn-block.btn-sm.bg-info(type='submit') - 2 kV
                button#m3kV.btn.btn-block.btn-sm.bg-info(type='submit') - 3 kV
                button#m4kV.btn.btn-block.btn-sm.bg-info(type='submit') - 4 kV
                button#m10kV.btn.btn-block.btn-sm.bg-info(type='submit') - 10 kV
            .row.mb-1.mt-1
              .col-4
                button#zeroVoltages.btn.btn-block.bg-warning(type='submit') Zero Voltages
              .col-4
                button#abortRamping.btn.btn-block.bg-danger(type='submit') Abort Ramping
              .col-4
                button#setVoltages.btn.btn-block.bg-success(type='submit') Set Voltages
        // Tables
        .row.mainTabBG.border.border-secondary
          .col-sm
            br
            #cvPlot(style='width:97%; height:93%;')
          .col-sm
            h5 Voltages and Currents
            table#cvTable.table.table-hover
              thead
                tr
                  th(scope='col')
                  th.text-right.PosColor(scope='col') Pos V.
                  th.text-right.NegColor(scope='col') Neg V.
                  th.text-right.PosColor(scope='col') Pos C.
                  th.text-right.NegColor(scope='col') Neg C.
              tbody
                tr#fsRow
                  th.align-middle(scope='row') First Step
                  td#pvfs.align-middle.D7.PosColor 0.000
                  td#nvfs.align-middle.D7.NegColor 0.000
                  td#pcfs.align-middle.D7.PosColor 0.000
                  td#ncfs.align-middle.D7.NegColor 0.000
                tr#ssRow
                  th.align-middle(scope='row') Second Step
                  td#pvss.align-middle.D7.PosColor 0.000
                  td#nvss.align-middle.D7.NegColor 0.000
                  td#pcss.align-middle.D7.PosColor 0.000
                  td#ncss.align-middle.D7.NegColor 0.000
                tr#osRow
                  th.align-middle(scope='row') One Step
                  td#pvos.align-middle.D7.PosColor 0.000
                  td#nvos.align-middle.D7.NegColor 0.000
                  td#pcos.align-middle.D7.PosColor 0.000
                  td#ncos.align-middle.D7.NegColor 0.000
      // Pulser tab
      #pulserTab.tab-pane.container.fade(role='tabpanel')
        | Pulser status goes here
      // Log tab
      #logTab.tab-pane.container.fade(role='tabpanel')
        #logs
          | Logs
          | loremalfkaf
          | adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
          |           adlkfjaf
          br
      #timingTab.tab-pane.container.fade(role='tabpanel')
        | Let's not put timing settings here
