#voltageHistoryTab.tab-pane.fade.in.show.active.container(role='tabpanel')
  #container(style='width:100%;')
    .h5.blockTitle Long-term Voltage History
    #lcCVTrendLongtermTimestamp.float-center
    #lcCVTrendLongterm

    .h5.blockTitle Short-term Voltage History
    #lcCVTrendShorttermTimestamp.float-center
    #lcCVTrendShortterm
