p Last Voltages and Currents
.table-responsive
  table.table.table-nobordered#lastVoltageTable
    colgroup
      col(style='width: 16%')
      col(style='width: 21%')
      col(style='width: 21%')
      col(style='width: 21%')
      col(style='width: 21%')
    tbody.thead-light
      tr
        th
        th Pos. V
        th Neg. V
        th Pos. C
        th Neg. C
      tr
        th First Step
        td 
          .text-center#lfspv
        td 
          .text-center#lfsnv
        td 
          .text-center#lfspc
        td 
          .text-center#lfsnc
      tr
        th Second Step
        td 
          .text-center#lsspv
        td 
          .text-center#lssnv
        td 
          .text-center#lsspc
        td 
          .text-center#lssnc
      tr
        th One Step
        td 
          .text-center#lospv
        td 
          .text-center#losnv
        td 
          .text-center#lospc
        td 
          .text-center#losnc
