.h6.blockTitle Spark information

.row.mb-3
  .col-4
    button#btnReadThreshold.btn.btn-block.btn-info  Threshold
  .col-4
    | Slot 3: 
    strong#slot3Th
  .col-4
    | Slot 6: 
    strong#slot6Th
.row.mb-3.mt-3
  .col-4
    | Spark count: 
    big#nSparks(style='color: green;') 0
  .col-8
    #lastSpark
    #sparkedQuads

.row.mb-3.mt-3
  .col-4
    button#btnSparkCountReset.btn.btn-block.btn-warning Reset Count
  .col-4
    button#btnSparkAlarmReset.btn.btn-block.btn-success Reset Alarm
  .col-4
    button#btnClearSparkDiplay.btn.btn-block.btn-warning Clear Display
