#tabAdvanced.tab-pane.fade.container.mainTabBG(role='tabpanel', aria-labelledby='btnTabAdvanced')
	.container-fluid.tabBG1
		.h6.blockTitle Advanced settings

		.row.mt-3
			.form-check
				input#checkSafetyProtocol.form-check-input(type='checkbox' value='' checked='')
				label.form-check-label(for='checkSafetyProtocol') Safety Protocol




//input#inputWaveformSpan(value=config.waveformConfig.waveformSpan)
