#tabMain.tab-pane.fade.show.active.container.mainTabBG(role='tabpanel', aria-labelledby='btnTabMain')
	.row
		.col-6
			.container-fluid.tabBG1
				include tabMain/sgControl
		.col-6
			.container-fluid.tabBG1
				include tabMain/rfWaveform